@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

.contForm {
  display: grid;
  grid-template-columns: auto auto;
  /*background-color: #2196F3;*/
  padding: 10px;
}
.item {
  background-color: rgba(255, 255, 255, 0.8);
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  font-size: 16px;
  height: auto;
  width: auto;
  display: block;
  text-align: left;
  color: #000;
  margin: 5px;
	display: flex;
}

.item .inp{justify-content: start; text-align: left;}
/*label{ text-align:right; justify-content: end; display: block;}*/
.label{
	width: auto;
	justify-content: end;
	text-align: right;
}

.botonCont{display: flex; grid-column-start: 1; grid-column-end: -1; justify-content: center; align-items: center;}

.itemContImg{
	width:19px; 
	height:18px;
}

div.dino, div.auto, div.oso, div.puzl{margin-right: 15px;}

div.dino{background-image: url('../images/icons8-velociraptor-20.png');}
div.auto{background-image: url('../images/icons8-sedán-20.png');}
div.oso{background-image: url('../images/icons8-felpa-20.png');}
div.puzl{background-image: url('../images/icons8-puzle-20.png');}

.contForm input[type="checkbox"]{
	border-radius: .25rem;
	border: #adb5bd solid 1px;
	box-sizing: border-box;
	margin-right: 4px;
	height: 15px;
	width: 15px;

}

.boton{
  background-color: #000;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 15px;
  width: 50%;
  min-width: 500px;
}
.boton:hover{opacity: 1; cursor:pointer;}

/******************************/
.contForm input[type="text"]{
	text-transform: uppercase;
	height: 25px;

}

.contForm input[type="checkbox"]{
	border-radius: .25rem;
	border: #adb5bd solid 1px;
	box-sizing: border-box;
	margin-left: 5px;
	margin-right: 4px;
	height: 15px;
	width: 15px;

}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 1rem;
  padding: 0.1rem;
  border: 0.25rem solid green;
  border-radius: 0.5rem;
}

input[type="checkbox"]::before {
	content: "";

	transform: scale(0);
	background-color: #888;
	height: 9px;
	width: 14px;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:hover {
  color: black;
}

select{height: 30px; background: #fff; width: 180px; border: solid 1px #999;}

		/*****************************/

  	/*********************************** celular ***************************/
		@media only screen and (max-width: 550px) {
			.contForm {
				display: grid;
				/*background-color: #2196F3;*/
				padding: 10px;
				width: 95%;
				justify-content: center;
				gap: 2px;
			}

			div > label{
				width: auto;
				/*background: #999;*/
				text-align: left;
			}

			.label{
			width: auto;
			justify-content: start;
			text-align: right;
			}

			.item {
				grid-column-start: 1;
				grid-column-end: 3;
				font-size: 15px;
				height: auto;
				text-align: left;

			}

			.contForm input[type="text"]{
				text-transform: uppercase;
				height: 25px;
				width: 80%;
			}

			.boton{display: flex; grid-column-start: 1; grid-column-end: -1; justify-content: center; align-items: center; min-width: 200px;}
		}



/*
.contForm{
		  display: grid;
		  grid-template-columns: auto auto;
		  background-color: #2196F3;
		  padding: 10px;
}

.itemCont {
	display: flex;
	color: #fff;
	border-radius: 5px;
	width: auto;
	height: auto;

	padding-top: 4px;
	
}

.label{
	text-align: right;
	margin-right: 2px;
	font-size: 15px;
	color:#000;

	padding-top: 6px;
	flex-direction: row-reverse;

}

.itemCont .label{grid-area: label;}
.itemCont .inp{grid-area: input;}

.inp{
	text-align: left;
	margin-left: 2px;
	display: flex;

}

.contForm input[type="text"]{
	text-transform: uppercase;
	height: 25px;

}

.contForm input[type="checkbox"]{
	border-radius: .25rem;
	border: #adb5bd solid 1px;
	box-sizing: border-box;
	margin-left: 5px;
	margin-right: 4px;
	height: 15px;
	width: 15px;

}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 1rem;
  padding: 0.1rem;
  border: 0.25rem solid green;
  border-radius: 0.5rem;
}

input[type="checkbox"]::before {
	content: "";

	transform: scale(0);
	background-color: #888;
	height: 9px;
	width: 14px;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:hover {
  color: black;
}


.form-input{
	height: 25px;
}

.itemContImg{
	width:19px; 
	height:18px;
	margin-right: 6px;
}

div.dino{background-image: url('../images/icons8-velociraptor-20.png');}
div.auto{background-image: url('../images/icons8-sedán-20.png');}
div.oso{background-image: url('../images/icons8-felpa-20.png');}
div.puzl{background-image: url('../images/icons8-puzle-20.png');}

div.itemBoton{grid-area: 6 / 1 / 6 / 3; align-items: center; grid-area: boton;}

.boton{
  background-color: #000;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  border-radius: 15px;
}
.boton:hover{opacity: 1; cursor:pointer;}


@media only screen and (max-width: 768px) {
	.contForm{
			background: #ddd;
	}
	.itemCont .label{
	  grid-column-start: 1;
  	grid-column-end: 3;
  }
 	.itemCont .inp{
	  grid-column-start: 1;
  	grid-column-end: 3;
  }
}
*/